h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px !important;
    padding: 0px !important;
}

h1 {
    font-weight: 100 !important;
}

p {
    margin: 0px !important;
    padding: 0px !important;
}

*:focus {
    outline: none;
    box-shadow: none;
}

#popup {
    display: flex;
    width: 640px;
    height: 480px;
}

#chat {
    display: flex;
    flex-direction: column;
    background-color: #343541;
    flex: 1;
}

#chat-header {
    color: white;
    padding: 0.5rem;
    border-bottom: 2px solid #444654;
}

#chat-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

#chat-header-title {
    position: absolute;
    text-align: center;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#chat-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    padding: 0 1rem;
}

#toggle-conversations-button {
    background-color: #2B2C2F;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#toggle-conversations-button:hover {
    background-color: #444654;
    transition: all 0.2s ease-in-out;
}

#welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.message {
    display: flex;
    margin-bottom: 1rem;
}

.message.user {
    justify-content: end;
}

.message.assistant {
    justify-content: start;
}

.code-block {
    /* background-color: #343541; */
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #444654;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.assistant-icon {
    color: white;
    font-size: small;
}

.message-wrapper {
    display: inline;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    max-width: 80%;

}

.message-wrapper.user {
    background-color: #2B2C2F;
}

.message-wrapper.assistant {
    background-color: #444654;
}

.message-text {
    color: white;
}

.action-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.copy-to-clipboard-button {
    color: #2B2C2F;
    transition: all 0.2s ease-in-out;
}

.copy-to-clipboard-button:hover {
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.star-button {
    color: #2B2C2F;
    transition: all 0.2s ease-in-out;
    margin-right: 0.5rem;
}

.star-button:hover {
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#input-bar {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
}

#input-message {
    width: 80%;
    max-height: 6rem;
    min-height: 2rem;
    color: white;
    box-shadow: none;
    text-decoration: none;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    background-color: #444654;
    border: 2px solid #444654;
}

#button-send-message {
    background-color: #2B2C2F;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#button-send-message:hover {
    background-color: #444654;
    transition: all 0.2s ease-in-out;
}

#button-send-message:disabled {
    background-color: #545454;
    transition: all 0.2s ease-in-out;
}

#input-search {
    width: 100%;
    color: white;
    box-shadow: none;
    text-decoration: none;
    background-color: #444654;
    border: 2px solid #444654;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}

#conversation-list {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #2B2C2F;
    width: 200px;
    /* height: 100%; */
    transition: all 0.3s ease-in-out;
}

#conversation-top {
    border-bottom: 2px solid #343541;
    padding: 0 0.5rem;
    padding-top: 0.5rem;
}

.chats-hidden {
    display: none !important;
}

#conversation-list-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    padding: 0 0.5rem;
    padding-top: 0.5rem;
}

.conversation {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #2B2C2F;
    color: white;
    border: 2px solid #444654;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.conversation:hover {
    background-color: #444654;
    transition: all 0.2s ease-in-out;
}

.conversation.active {
    background-color: #444654;
}

.conversation-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conversation-name {}

#new-conversation-button {
    border: 2px solid #444654;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#new-conversation-button:hover {
    background-color: #444654;
    transition: all 0.2s ease-in-out;
}

#conversation-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #343541;
    padding: 0.5rem;
}

#clear-conversations-button {
    background-color: #2B2C2F;
    color: white;
    border: 2px solid #444654;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#clear-conversations-button:hover {
    background-color: #444654;
    transition: all 0.2s ease-in-out;
}

#open-options-button {
    background-color: #2B2C2F;
    color: white;
    border: 2px solid #444654;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#open-options-button:hover {
    background-color: #444654;
    transition: all 0.2s ease-in-out;
}

#open-github-button {
    background-color: #2B2C2F;
    color: white;
    width: 100%;
    height: 2rem;
    border: 2px solid #444654;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#open-github-button:hover {
    background-color: #444654;
    transition: all 0.2s ease-in-out;
}

.delete-conversation-icon {
    position: absolute;
    right: 0.5rem;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.delete-conversation-icon:hover {
    display: inline;
    color: #b52d32;
    transition: all 0.2s ease-in-out;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #343541 !important;
    color: white !important;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50% !important;
    text-align: center;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal-button {
    background-color: #2B2C2F;
    color: white;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #444654;
    transition: all 0.2s ease-in-out;
}

#delete-button {
    background-color: #b52d32;
}

#delete-button:hover {
    background-color: #d3353b;
}

#rename-conversation-input {
    color: white;
    box-shadow: none;
    text-decoration: none;
    background-color: #444654;
    border: 2px solid #444654;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.rename-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rename-conversation-cancel-button {
    background-color: #2B2C2F;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#rename-conversation-cancel-button:hover {
    background-color: #444654;
    transition: all 0.2s ease-in-out;
}

#rename-conversation-save-button {
    background-color: #2B2C2F;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 0.25rem;
}

#rename-conversation-save-button:disabled {
    background-color: #545454;
    transition: all 0.2s ease-in-out;
}

#rename-conversation-save-button:disabled:hover {
    background-color: #545454;
    cursor: not-allowed;
}

#rename-conversation-save-button:hover {
    background-color: #444654;
}